<Ifmodule mod_rewrite.c>
    # Enable rewriting
    RewriteEngine On
    
    # RewriteBase /newkalalake.lgu.local/
    # Deny direct access to backend and modules
    # RewriteRule ^backend/ - [F,L]
    # RewriteRule ^modules/ - [F,L]

    # Block sensitive files
    # <FilesMatch "\.(env|config|sql|log|ini)$">
    #     Require all denied
    # </FilesMatch>

    # Disable directory listing
    # Options -Indexes

    # If the request is exactly the root, redirect to /public/
    # RewriteRule ^$ public/login.php [L,R=302]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</Ifmodule>